In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('SampleSuperstore.csv')

In [3]:
df.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [4]:
df.columns

Index(['Ship Mode', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Category', 'Sub-Category', 'Sales', 'Quantity', 'Discount',
       'Profit'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Mode     9994 non-null   object
 1   Segment       9994 non-null   object
 2   Country       9994 non-null   object
 3   City          9994 non-null   object
 4   State         9994 non-null   object
 5   Postal Code   9994 non-null   int64
 6   Region        9994 non-null   object
 7   Category      9994 non-null   object
 8   Sub-Category  9994 non-null   object
 9   Sales         9994 non-null   float64
 10  Quantity      9994 non-null   int64
 11  Discount      9994 non-null   float64
 12  Profit        9994 non-null   float64
dtypes: float64(3), int64(2), object(8)
memory usage: 1015.1+ KB

In [6]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', 'First Class', 'Same Day'],
      dtype=object)

In [7]:
df.shape

(9994, 13)

In [8]:
df['Country'].unique()

array(['United States'], dtype=object)

In [10]:
df['State'].unique()

array(['Kentucky', 'California', 'Florida', 'North Carolina',
       'Washington', 'Texas', 'Wisconsin', 'Utah', 'Nebraska',
       'Pennsylvania', 'Illinois', 'Minnesota', 'Michigan', 'Delaware',
       'Indiana', 'New York', 'Arizona', 'Virginia', 'Tennessee',
       'Alabama', 'South Carolina', 'Oregon', 'Colorado', 'Iowa', 'Ohio',
       'Missouri', 'Oklahoma', 'New Mexico', 'Louisiana', 'Connecticut',
       'New Jersey', 'Massachusetts', 'Georgia', 'Nevada', 'Rhode Island',
       'Mississippi', 'Arkansas', 'Montana', 'New Hampshire', 'Maryland',
       'District of Columbia', 'Kansas', 'Vermont', 'Maine',
       'South Dakota', 'Idaho', 'North Dakota', 'Wyoming',
       'West Virginia'], dtype=object)

In [11]:
len(df['State'].unique())

49

In [12]:
df['Region'].unique()

array(['South', 'West', 'Central', 'East'], dtype=object)

In [14]:
region_profit = df[['Region','Profit']]

In [17]:
region_profit.head()

  Region    Profit
0  South   41.9136
1  South  219.5820
2   West    6.8714
3  South -383.0310
4  South    2.5164

In [21]:
top_five_profit_region = region_profit.sort_values(by='Profit',ascending=False)[:5]

In [22]:
top_five_profit_region

       Region     Profit
6826  Central  8399.9760
8153     West  6719.9808
4190     East  5039.9856
9039  Central  4946.3700
4098  Central  4630.4755

In [23]:
center_region = df[df['Region']=='Central']

In [25]:
center_region.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
14,Standard Class,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,68.810,5,0.8,-123.8580
15,Standard Class,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Binders,2.544,3,0.8,-3.8160
16,Standard Class,Consumer,United States,Madison,Wisconsin,53711,Central,Office Supplies,Storage,665.880,6,0.0,13.3176
21,Standard Class,Corporate,United States,Fremont,Nebraska,68025,Central,Office Supplies,Art,19.460,7,0.0,5.0596
22,Standard Class,Corporate,United States,Fremont,Nebraska,68025,Central,Office Supplies,Appliances,60.340,7,0.0,15.6884

In [26]:
center_region.Region.unique()

array(['Central'], dtype=object)

In [27]:
center_region.shape

(2323, 13)

In [28]:
center_region.Region.nunique()

1

In [29]:
center_region_state = df[['State','Profit']]

In [32]:
center_region_state_profit = center_region_state.sort_values(by='Profit',ascending=False)[:5]

In [33]:
center_region_state_profit

           State     Profit
6826     Indiana  8399.9760
8153  Washington  6719.9808
4190    Delaware  5039.9856
9039    Michigan  4946.3700
4098   Minnesota  4630.4755

In [34]:
center_indiana_city = df[df['State']=='Indiana']

In [35]:
center_indiana_city

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
49,Standard Class,Consumer,United States,New Albany,Indiana,47150,Central,Office Supplies,Binders,38.22,6,0.0,17.9634
50,Standard Class,Consumer,United States,New Albany,Indiana,47150,Central,Office Supplies,Labels,75.18,6,0.0,35.3346
51,Standard Class,Consumer,United States,New Albany,Indiana,47150,Central,Furniture,Furnishings,6.16,2,0.0,2.9568
52,Standard Class,Consumer,United States,New Albany,Indiana,47150,Central,Furniture,Chairs,89.99,1,0.0,17.0981
446,Second Class,Consumer,United States,Columbus,Indiana,47201,Central,Furniture,Furnishings,2.91,1,0.0,1.3677
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9947,Second Class,Corporate,United States,Indianapolis,Indiana,46203,Central,Furniture,Chairs,1925.88,6,0.0,539.2464
9948,Second Class,Corporate,United States,Indianapolis,Indiana,46203,Central,Office Supplies,Appliances,2405.20,8,0.0,793.7160
9949,Second Class,Corporate,United States,Indianapolis,Indiana,46203,Central,Technology,Accessories,83.97,3,0.0,15.9543
9950,Second Class,Corporate,United States,Indianapolis,Indiana,46203,Central,Technology,Accessories,39.89,1,0.0,14.7593
9951,Second Class,Corporate,United States,Indianapolis,Indiana,46203,Central,Office Supplies,Binders,17.38,2,0.0,8.6900

In [36]:
indiana_city_profit = df[['City','Profit']]

In [37]:
indiana_city_profit.head()

              City    Profit
0        Henderson   41.9136
1        Henderson  219.5820
2      Los Angeles    6.8714
3  Fort Lauderdale -383.0310
4  Fort Lauderdale    2.5164

In [40]:
indiana_city_profit.sort_values(by='Profit',ascending=False)[:5]

             City     Profit
6826    Lafayette  8399.9760
8153      Seattle  6719.9808
4190       Newark  5039.9856
9039      Detroit  4946.3700
4098  Minneapolis  4630.4755

# Find Sale, Discount of City having maximum Profit

# Find Sale, Discount of City having minimum Profit

# Find Category, Sub-Category of City having maximum Profit

# Find Category, Sub-Category of City having minimum Profit

In [42]:
df.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [45]:
df.isnull().sum()

Ship Mode       0
Segment         0
Country         0
City            0
State           0
Postal Code     0
Region          0
Category        0
Sub-Category    0
Sales           0
Quantity        0
Discount        0
Profit          0
dtype: int64