In [28]:
import pandas as pd

In [75]:
df = pd.read_csv("SampleSuperstore.csv")

In [30]:
store.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [31]:
store.shape

(9994, 13)

In [32]:
store.columns

Index(['Ship Mode', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Category', 'Sub-Category', 'Sales', 'Quantity', 'Discount',
       'Profit'],
      dtype='object')

In [33]:
store_profit_max = store[['City','Sales','Discount','Profit']]
store_profit_max.head()

              City     Sales  Discount    Profit
0        Henderson  261.9600      0.00   41.9136
1        Henderson  731.9400      0.00  219.5820
2      Los Angeles   14.6200      0.00    6.8714
3  Fort Lauderdale  957.5775      0.45 -383.0310
4  Fort Lauderdale   22.3680      0.20    2.5164

In [46]:
store_profit_max = store_profit_max.sort_values(by='Profit',ascending=False)[:1]

In [47]:
store_profit_max

           City     Sales  Discount    Profit
6826  Lafayette  17499.95       0.0  8399.976

In [48]:
store_profit_min = store_profit_max.sort_values(by='Profit')[:1]

In [49]:
store_profit_min

           City     Sales  Discount    Profit
6826  Lafayette  17499.95       0.0  8399.976

In [50]:
store.columns

Index(['Ship Mode', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Category', 'Sub-Category', 'Sales', 'Quantity', 'Discount',
       'Profit'],
      dtype='object')

In [73]:
store = store[['Profit','Category','Sub-Category','City']]

In [74]:
store

        Profit    Category Sub-Category       City
6826  8399.976  Technology      Copiers  Lafayette

In [60]:
max_store = store.sort_values(by='Profit',ascending=False)[:1]

In [68]:
store

        Profit    Category Sub-Category       City
6826  8399.976  Technology      Copiers  Lafayette

In [69]:
store.corr()

        Profit
Profit     NaN

In [65]:
dstore

      Profit Category Sub-Category City
6826     NaN      NaN          NaN  NaN

In [70]:
store.cov()

E:\anaconda\lib\site-packages\pandas\core\frame.py:9524: RuntimeWarning: Degrees of freedom <= 0 for slice
  base_cov = np.cov(mat.T, ddof=ddof)
E:\anaconda\lib\site-packages\numpy\lib\function_base.py:2493: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)
E:\anaconda\lib\site-packages\numpy\lib\function_base.py:2493: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)

        Profit
Profit     NaN

In [72]:
sum = pd.store[Profit].sum()

AttributeError: module 'pandas' has no attribute 'store'

In [77]:
df.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [78]:
features = ['Ship Mode','Segment','Country','City','State','Postal Code','Region','Category','Sales','Quantity','Discount']
x = df[features]

In [79]:
x

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sales,Quantity,Discount
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,261.9600,2,0.00
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,731.9400,3,0.00
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,14.6200,2,0.00
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,957.5775,5,0.45
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,22.3680,2,0.20
...,...,...,...,...,...,...,...,...,...,...,...
9989,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,25.2480,3,0.20
9990,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,91.9600,2,0.00
9991,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,258.5760,2,0.20
9992,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,29.6000,4,0.00
9993,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,243.1600,2,0.00

In [80]:
y = df['Profit']

In [81]:
y

0        41.9136
1       219.5820
2         6.8714
3      -383.0310
4         2.5164
          ...
9989      4.1028
9990     15.6332
9991     19.3932
9992     13.3200
9993     72.9480
Name: Profit, Length: 9994, dtype: float64

In [85]:
len(df)

9994

In [90]:
x

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sales,Quantity,Discount
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,261.9600,2,0.00
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,731.9400,3,0.00
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,14.6200,2,0.00
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,957.5775,5,0.45
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,22.3680,2,0.20
...,...,...,...,...,...,...,...,...,...,...,...
9989,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,25.2480,3,0.20
9990,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,91.9600,2,0.00
9991,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,258.5760,2,0.20
9992,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,29.6000,4,0.00
9993,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,243.1600,2,0.00

In [91]:
y

0        41.9136
1       219.5820
2         6.8714
3      -383.0310
4         2.5164
          ...
9989      4.1028
9990     15.6332
9991     19.3932
9992     13.3200
9993     72.9480
Name: Profit, Length: 9994, dtype: float64

In [82]:
#scikit

In [84]:
from sklearn.model_selection import train_test_split

In [86]:
#x_train,x_val,y_train,y_val = train_test_split(x,y,test_size=0.2)
input_features,test_features,input_label,test_label = train_test_split(x,y,test_size=0.2)

In [ ]:
x-train train features --- y train
 val features ---- y val

In [88]:
len(x_train)

7995

In [89]:
len(x_val)

1999

In [ ]:
# Machine learning


1 supervised learning - input label
2 unsupervised learning - clustering
3 reinforcemenet learning  - envir,agent,feedback,action

In [ ]:
regression ------continous
classification  --- 



regression --- linear regression,decision tree regressor,random forest regressor,xgboost,ANN RNN
classification - logistic,decision tree classifier,random forest classifier, CNN,ANN

In [ ]:
Regression--- 
Classification----