In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('insurance_data.csv')

In [3]:
df.shape

(27, 2)

In [4]:
df

    age  bought_insurance
0    22                 0
1    25                 0
2    47                 1
3    52                 0
4    46                 1
5    56                 1
6    55                 0
7    60                 1
8    62                 1
9    61                 1
10   18                 0
11   28                 0
12   27                 0
13   29                 0
14   49                 1
15   55                 1
16   25                 1
17   58                 1
18   19                 0
19   18                 0
20   21                 0
21   26                 0
22   40                 1
23   45                 1
24   50                 1
25   54                 1
26   23                 0

In [6]:
df.isnull().sum()

age                 0
bought_insurance    0
dtype: int64

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(df[['age']],df.bought_insurance,train_size=0.8)

In [10]:
X_test

    age
21   26
12   27
7    60
14   49
25   54
1    25

In [11]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [12]:
model.fit(X_train, y_train)

LogisticRegression()

In [13]:
X_test

    age
21   26
12   27
7    60
14   49
25   54
1    25

In [14]:
y_predicted = model.predict(X_test)

In [15]:
y_predicted

array([0, 0, 1, 1, 1, 0])

In [16]:
y_test

21    0
12    0
7     1
14    1
25    1
1     0
Name: bought_insurance, dtype: int64

In [17]:
model.coef_

array([[0.11272217]])